.contenedor{
    height: 95vh;
    width: 98vw;
    background-color: #e84b2c;

    display: flex;
    justify-content: center;
    align-items: center;
}
    form{
        padding: 30px;
        background-color: #e6d839;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 3vh;
    }
        #contenedorPalabra{
            background-color: #7cd164;
            padding: 30px;
        }
