@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #1a234f;
}
#root{
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: 'Poppins', sans-serif;
}
